// -------- copy and paste --- do not use as is ------------
$icon-descriptor-tag: "nodeflow-studio-canvas-icon";


[class^="nodeflow-studio-canvas-icon-"], [class*=" nodeflow-studio-canvas-icon-"] {
    background: url("/assets/organizers/nodeflow/nodeflow-asset-node/sprite.svg") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    box-sizing: content-box;
}

.nodeflow-studio-canvas-icon- {

    &symbol6 {
        background-position: 0 0;
    }
    &symbol5 {
        background-position: -32px 0;
    }
    &symbol3 {
        background-position: -64px 0;
    }
    &symbol8 {
        background-position: -97px 0;
    }
    &symbol9 {
        background-position: -130px 0;
    }
    &symbol16 {
        background-position: -160px 0;
    }
    &symbol18 {
        background-position: -192px 0;
    }
    &symbol4 {
        background-position: -224px 0;
    }
    &symbol19 {
        background-position: -256px 0;
    }
    &symbol13 {
        background-position: -288px 0;
    }
    &symbol1  {
        background-position: -320px 0;
    }
    &symbol12 {
        background-position: -351px 0;
    }
    &symbol15 {
        background-position: -416px 0;
    }
    &symbol17 {
        background-position: -446px 0;
    }
    &symbol11 {
        background-position: -481px 0;
    }
    &symbol14 {
        background-position: -64px -32px;
    }
    &symbol105 {
        background-position: -130px -32px;
    }
    &symbol9 {
        background-position: -160px -32px;
    }

}
