.pane-header {
    $expando-size: 0.7rem;
    padding: 0 0.2rem;
    border-radius: $expando-size;
    border:1px solid rgba(0,0,0,.1);
    user-select: none;

    &:hover {
        text-decoration: underline;
        background-color: rgba(255,255,255,.3);
        border:1px solid rgba(0,0,0,.3);
    }

    .pane-expando {
        display: inline-block;
        &::before {
            display: inline-block;
            background-color: rgba(0, 0, 0, .1);
            width: $expando-size;
            height: $expando-size;
            border-radius: 1rem;
            content: "\25b6";
            padding: 0.1rem;
            border: 1px rgba(0, 0, 0, .5) solid;

            text-align: center;
            margin: auto;
            vertical-align: middle;
            line-height: 1;
        }

        &:hover {
            &::before {
                background-color: rgba(0, 0, 0, .3);
            }
            cursor: pointer;

        }

    }

    &.pane-expanded .pane-expando {
        &::before {
            width: $expando-size;
            height: $expando-size;
            background-color: rgba(0, 0, 33, .1);
            content: "\25bc";
        }

        &:hover {
            &::before {
                background-color: rgba(0, 0, 0, .3);
            }
        }

    }

}

