App Menu items

<ng-content select=".me"></ng-content>
<ng-content></ng-content>


<ng-template #gridItemMenuOverlayTemplate>
    <div> Grid Item Menu</div>

    <div>
        Node/Grid Item name: ........
    </div>
</ng-template>

<ng-template #segmentConnectorMenuOverlayTemplate>
    <div> Node Connector Menu</div>

    <div>
        node path info: ........
    </div>
</ng-template>

<ng-template #socketConnectorMenuOverlayTemplate>
    <div> Socket Menu</div>

    <div>
        socket info: ...
    </div>
</ng-template>

