:host {
    display: flex;
    flex: 0;
    align-items: flex-end;

    [role="errorsList"] {
        background-color: rgba(255, 2, 2, .15);
    }

    [role="processingErrorMessage"] {
        padding: 0.2rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(0, 0, 0, .2);
        background-color: rgba(255, 2, 2, .3);
    }

    SELECT.socketConnectorRelationSelection {
        min-width: 20ch;
    }


    // filtered by socket connector state type dropdown ( duplicate style )
    SELECT[role="stateType"], SELECT[role="stateType"] OPTION {
        &.default-state {
            background-color: white;
        }

        &.invalid-state {
            background-color: lighten(#e89e97, 10%);
        }
        &.valid-state {
            background-color: lighten(#b1e17a, 10%);
        }
        &.unknown-state {
            background-color: lighten(#b9bbb2, 10%);
        }
    }

}
