<p>
   Schematics and Overview of high level modules used to assemble this demonstration portion of the dashboard widget
</p>

<clr-tabs>
   <clr-tab>
      <button clrTabLink>Driver modules map</button>
      <clr-tab-content *clrIfActive="true">
         <h5>
            Client Demo Configuration and Components modules Map. Structural relationships between client-side (Demo) and public (Angular / dashboard engine ) APIs
         </h5>

      </clr-tab-content>
   </clr-tab>

   <clr-tab>
      <button clrTabLink>Card plugin template</button>
      <clr-tab-content>
          <h5>
              Sample and designs
          </h5>

      </clr-tab-content>
   </clr-tab>

</clr-tabs>
